name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch: # Allows you to run this manually from the GitHub Actions tab

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE 'your-username' and 'your-space-name' below
        run: git push --force https://tuannho080213:$HF_TOKEN@huggingface.co/spaces/tuannho080213/Movies-Musics-Suggestion-App main
